<h3>all sites</h3>
<div class="admin">
  <% @sites.each do |s| %>
  <li><%= s.title %> <%= s.walk_id %>: <%= link_to "Delete", s,:class => "button", :id => "zeroM", method: :delete, data:{confirm: "You sure?"} %></li>
  <% end %>
</div>
<h3>all users</h3>
<div class="admin">
  <% @users.each do |u| %>
  <li><%= u.user_name %>: <%= link_to "Delete", u,:class => "button", :id => "zeroM", method: :delete, data:{confirm: "You sure?"} %></li>
  <% end %>
</div>
<h3>all walks</h3>
<div class="admin">
  <% @walks.each do |w| %>
  <li><%= w.title %> #<%= w.id %>: <%= link_to "Delete", w,:class => "button", :id => "zeroM", method: :delete, data:{confirm: "You sure?"} %></li>
  <% end %>
</div>
<h3>all reviews</h3>
<div class="admin">
  <% @reviews.each do |r| %>
  <li><%= r.description %> <%= link_to "Delete", r,:class => "button", :id => "zeroM", method: :delete, data:{confirm: "You sure?"} %></li>
  <% end %>
</div>
<script type="text/javascript">
  var userCount = "<%= @users.count %>"
  var walkCount = "<%= @walks.count %>"
  var siteCount = "<%= @sites.count %>"
  var reviewCount = "<%= @reviews.count %>"
  console.log(userCount, walkCount, reviewCount, siteCount)
  // decide on a chart to go here
</script>
