<head>
  <script src="application.js"></script>
</head>

<h3 id="mainWelcome">Welcome to Bee Moving!</h3>

<div class="quote">
  Aerodynamically, the bumble bee shouldn't be able to fly, but the bumble bee doesn't know it so it goes on flying anyway.
  -unknown
</div>
<div class="quote">
  “Handle a book as a bee does a flower, extract its sweetness but do not damage it.”
― John Muir
</div>
<div class="quote">
  “If the bee disappeared off the face of the earth, man would only have four years left to live.”
― Maurice Maeterlinck, The Life of the Bee
</div>
<div class="quote">
  The common bees will never use their sting upon the queen; if she is to be disposed of, they starve her to death, and the queen herself will sting nothing but royalty, nothing but a rival queen. -John Burroughs

</div>
<div class="quote">
  The common bees will never use their sting upon the queen; if she is to be disposed of, they starve her to death, and the queen herself will sting nothing but royalty, nothing but a rival queen. -Patti Smith
</div>
<div id="scroller">
  <h5 id="scrollText">to: misson</h5>
  <h5 id="scroll"></h5>
</div>
<script type="text/javascript">
  let scroll = document.getElementById("scroller")
  scroll.addEventListener('click', () => {
    console.log('duh')
    function alertFunc() {
      window.scrollBy(100, 100);
    }
    setTimeout(alertFunc, 1000)
  })
</script>
<div id="app">
</div>
<div class="mainQuote">
  <%= javascript_pack_tag 'application' %>
</div>
<script>
  let mainWelcome = document.getElementById('mainWelcome')
  let theSwitch = Date.now()

  if(theSwitch % 2 ==  0){
    mainWelcome.style.background = 'pink'
    theSwitch = Date.now()
  }else{
    mainWelcome.style.background = "lightgreen"
    theSwitch = Date.now()
  }
  document.addEventListener('click', () => {
  let colors = ['Aqua', 'Blue', 'Orange', 'Green', 'Red', 'LightSteelBlue']
  let index = Math.floor(Math.random() * colors.length)
  let newDex = Math.floor(Math.random() * colors.length)
  let color = colors[index]
  let other = colors[newDex]
  event.srcElement.style.color = color
  event.srcElement.style.background = other
});
</script>
<style>
  #pic{
    background: pink;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    margin: 5px;

  }
</style>
<div class=".large-2.columns">
  <a href="https://www.google.com/" target="_blank">
    <%= image_tag("sillybee.png", :alt => "rss feed", :id => "pic") %>
  </a>
  <a href="/">zero
    <%= image_tag("sillybee.png", :id => 'pic')%>
  </a>
  <a href="/">one
    <%= image_tag("sillybee.png", :id => 'pic') %>
  </a>
  <a href="/">two
    <%= image_tag("sillybee.png", :id => 'pic') %>
  </a>
  <a href="/">three
    <%= image_tag("sillybee.png", :id => 'pic') %>
  </a>
  <a href="/">four
    <%= image_tag("sillybee.png", :id => 'pic') %>
  </a>
  <a href="/">five
    <%= image_tag("sillybee.png", :id => 'pic') %>
  </a>
  <a href="/">six
    <%= image_tag("sillybee.png", :id => 'pic') %>
  </a>
  <a href="/">seven
    <%= image_tag("sillybee.png", :id => 'pic') %>
  </a>
</div>
