<body id="someFun">
<script type="text/javascript">
  var allSites = 0
  var allReviews = 0
  var claimedSites = 0
</script>
<div class="walks">
    <script type="text/javascript">
      var allWalk = []
    </script>
  <h3 class="sites">Local nature walks</h3>
  <% @walks.each do |w| %>
  <div id="oneWalk">
    <script type="text/javascript">
      var sites = parseInt("<%= w.sites.count %>")
      var reviews = parseInt("<%= w.reviews.count %>")
      allReviews += reviews
      allSites += sites
    </script>
    <p>
      <% total = 0 %>
      <% w.sites.each do |s| %>
        <% if s.claimed %>
          <% total += 1 %>
        <% end %>
        <% end %>
        <script type="text/javascript">
          claimedSites += parseInt("<%= total %>")
        </script>
      <div id="walkTitle">
        <%= w.title %>
      </div>
      "<%= w.description %>"
      <% if w.sites.count > 1%>
      <% echo = "Sites" %>
      <% elsif w.sites.count < 1 %>
      <% echo = "No Sites" %>
      <% else %>
      <% echo = "Site" %>
      <% end %>
      <div class="siteCount">
        <%= w.sites.count %> <%= echo %>
      </div>

      <div class="totes">
        Claimed sites: <%= total %>
      </div>
    </p>
    <% if current_user %>
      <div>
        <%= link_to "to show page", walk_path(w), {:class => "button", :id => "zeroM"} %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Walk', 'sites', 'claimed Sites', 'Reviews'],
          ['across all walks', allSites, claimedSites, allReviews]
        ]);

        var options = {
          chart: {
            title: 'Walks OverView',
            subtitle: 'Reviews, Sites',
          },
          bars: 'verticle' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }

    </script>
    <div id="chart">
      <div id="barchart_material" style="width: 900px; height: 500px;"></div>
    </div>
</body>
