
<h1 class="sites">Local Walks</h1>

<div id="walkShowTitle">
  <div class="one">Walk-Name: <%= @walk.title %></div>
  <div class="two">Description: <%= @walk.description %></div>
  <div class="one">Location: <%= @walk.location %></div>
  <div class="two">Creator Id#: <%= @walk.user_id %></div>
  <% if current_user %>
  <span class="deleteButton">
    <%= link_to "Delete", walk_path(@walk), method: :delete, data:{confirm: "You sure?"} %>
  </span>
  <span class="editButton"><%= link_to "Edit Walk", "/walks/#{@walk.id}/edit" %></span>
  <% end %>
</div>


<% if @sites.count > 1 %>
<% echo = "Sites" %>
<% else %>
<% echo = "site"  %>
<% end %>
<div class="siteShow">
  <h5><strong><%= echo %></strong></h5>
  <% @sites.each do |s| %>
   <ul id="siteWalkList">
     <li>
       <%= s.title %>
       <span id="teamLiquid"><%= link_to "show page", "/walks/#{@walk.id}/sites/#{s.id}" %></span>
     </li>
   </ul>
  <% end %>
  <%if current_user %>
    <span id="siteTags">
      <%= link_to "Add New Site", "/walks/#{@walk.id}/sites/new" %>
  </span>
  <% end %>
</div>
<div>
  <div>
    <h5>reviews</h5>
  </div>
  <div>
    <% @reviews.each do |r| %>
      <%= r.description %>
    <% end %>
  </div>
  <h4>add a review</h4>
    <%= form_for @review do |f| %>
    <% if @bob %>
    <ul>
      <% @bob.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <div class="field">
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="hidden_field">
      <%= f.hidden_field :walk_id, :value => @walk.id %>
    </div>
    <div class="submit">
      <%= f.submit "Add review" %>
    </div>
    <% end %>
</div>
