
<h1 class="sites">Local Walks</h1>

<div id="walkShowTitle">
  <div class="one">Walk-Name: <%= @walk.title %></div>
  <div class="two">Description: <%= @walk.description %></div>
  <div class="one">Location: <%= @walk.location %></div>
  <div class="two">Creator Id#: <%= @walk.user_id %></div>
  <% if current_user %>
  <span>
    <%= link_to "Delete", walk_path(@walk),{:class => "button", :id => "zeroM",:method => :delete, :data => {confirm: "are you sure you want to delete this site?"}}%>
  </span>
  <span><%= link_to "Edit Walk", "/walks/#{@walk.id}/edit",{:class => "button", :id => "zeroM"} %></span>
  <% end %>
  <%if current_user %>
    <span id="center">
      <%= link_to "Add New Site", "/walks/#{@walk.id}/sites/new", {:class => "button", :id => "zeroM"} %>
  </span>
  <% end %>
</div>


<% if @sites.count > 1 %>
<% echo = "Sites" %>
<% else %>
<% echo = "site"  %>
<% end %>
<% if user_signed_in? && current_user.keeper == true %>
<div class="siteShow">
  <h5><strong><%= echo %></strong></h5>
  <% @sites.each do |s| %>
   <ul id="siteWalkList">
     <li>

       <%= s.title %><%= link_to "show page", "/walks/#{@walk.id}/sites/#{s.id}", {:class => "button", :id => "zeroM"} %>

     </li>

   </ul>

   <% end %>
   <% end %>

</div>



<div>
  <div class="reviewOut">
    <div>
      <h5 id="showReviews">reviews</h5>
    </div>
    <% @reviews.each do |r| %>
      <li id="oneReview"><%= r.description %></li><br>
    <% end %>
  </div>
  <div class="form">
    <h4>add a review</h4>
      <%= form_for @review do |f| %>
      <% if @bob %>
      <ul>
        <% @bob.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
      <div class="field">
        <%= f.label :rating %>
        <%= f.text_field :rating %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div class="hidden_field">
        <%= f.hidden_field :walk_id, :value => @walk.id %>
      </div>
      <div class="submit">
        <%= f.submit "Add review", {:class => "button", :id => "zeroM"} %>
      </div>
      <% end %>
  </div>

</div>
