<body id="noFun">
<div >
  <h1 class="sites">sites</h1>
  <% @sites.each do |s| %>
  <% if(s.claimed) %>
  <% echo = "claimed" %>
  <% else %>
  <% echo= "unclaimed"%>
  <% end %>
  <div id="siteHolder">
    <div>
      <div id="siteTitle"><%= s.title %></div>
      <span id="spanIt">
        <span id="showButton">
          <%= link_to "to show page", site_path(s), :id => "siteBox"%>
        </span>
        <span id='showDescription'>
          Description: <%= s.description %>
        </span>
        <span id="claimation">
        <% if echo == "unclaimed" %>
          <%= form_for s do |f| %>
          <%= f.check_box :claimed %>
          <%= f.hidden_field :user_id, :value => @user.id %>
          <%= f.submit "claim this site" %>
        <% end %>
        <% else %>
        <%= "claimed by user #: #{s.user_id}" %>
        <% end %>
        </span>
      </span>
    </div>
  </div>
  <% end %>
</div>
</body>
