<head>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body id="whatFun">
<div class="siteShow">
  <h1><%= @site.title %></h1>
  <div class="row">
    <div class="small-2 large-4 columns">
      <h4 class="SiteColums">
        longitude: <%= @site.longitude %>
        <br>
        latitude: <%= @site.latitude %>
      </h4>

    </div>

    <div class="small-2 large-4 columns">
      <h4 class="SiteColums"><%= @walk.title %></h4>
    </div>
    <div class="small-4 large-4 columns">
      <h4 class="SiteColums">
        <% if @site.claimed %>
          <i class="fas fa-bug" id="someWay"></i>claimed
          <% else %>
           <i class="fas fa-bug" id="noWay"></i></i>unclaimed
        <% end %>
      </h4>
    </div>
    <div class="right">

      Type of Bug: <%= @site.flyer %>

      <%= link_to "Edit site", "/sites/#{@site.id}/edit", {:class => "button", :id => "zeroM"} %>
      <%= link_to "Delete site", site_path(@site),{:class => "button", :id => "zeroM",:method => :delete, :data => {confirm: "are you sure you want to delete this site?"}} %>
    </div>
  </div>

  <div>
    <% if(@site.claimed) %>
    <% echo = "claimed" %>
    <% else %>
    <% echo= "unclaimed"%>
    <% end %>
    <% if echo == "unclaimed" %>
      <%= form_for @site do |f| %>
      <%= f.check_box :claimed %>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.submit "claim this site", {:class => "button", :id => "genButton"} %>
    <% end %>
    <% else %>
    <%= "Claimed by beekeeper#: #{@site.user_id}!" %>
    <% end %>

  </div>
</div>

</body>
