<head>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body id="whatFun">
<div class="siteShow">
  <h1><%= @site.title %></h1>
  <div class="row">
    <div class="small-2 large-4 columns">
      <h4 class="SiteColums">
        <div>
          longitude:
          <p id="longitudude" >
            <%= @site.longitude %>

          </p>
        </div>
        <br>
        <div id="">
            latitude:
          <p id="latitudude">
            <%= @site.latitude %>
          </p>

        </div>

      </h4>

    </div>

    <div class="small-2 large-4 columns">
      <h4 class="SiteColums"><%= @walk.title %></h4>
    </div>
    <div class="small-4 large-4 columns">
      <h4 class="SiteColums">
        <% if @site.claimed %>
          <i class="fas fa-bug" id="someWay"></i>claimed
          <% else %>
           <i class="fas fa-bug" id="noWay"></i></i>unclaimed
        <% end %>
      </h4>
    </div>
    <div class="right">

      Type of Bug: <%= @site.flyer %>

      <%= link_to "Edit site", "/sites/#{@site.id}/edit", {:class => "button", :id => "zeroM"} %>
      <%= link_to "Delete site", site_path(@site),{:class => "button", :id => "zeroM",:method => :delete, :data => {confirm: "are you sure you want to delete this site?"}} %>
    </div>
  </div>

  <div>
    <% if(@site.claimed) %>
    <% echo = "claimed" %>
    <% else %>
    <% echo= "unclaimed"%>
    <% end %>
    <% if echo == "unclaimed" %>
      <%= form_for @site do |f| %>
      <%= f.check_box :claimed %>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.submit "claim this site", {:class => "button", :id => "genButton"} %>
    <% end %>
    <% else %>
    <%= "Claimed by beekeeper#: #{@site.user_id}!" %>
    <% end %>

  </div>
</div>
<script>
  var c = document.getElementById("latitudude").innerHTML
  var d = document.getElementById("longitudude").innerHTML
  var x=d.split(" ")
  var latSplit = c.split(" ")
  var latNum = parseInt(latSplit[12])
  var longNum = parseInt(x[12])
</script>
<style>
  #map{
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 5px;
  }
</style>
<div id="map">
</div>
<script>
  var map;
  function initMap(){
    map = new google.maps.Map(document.getElementById('map'),{
      center: {lat: latNum+0.5, lng: longNum-0.2},
      zoom: 8
    })
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANHb-2dex47kNJMRPDl8j9Qgqd02iOj7M&callback=initMap">

</script>
</body>
