<!DOCTYPE html>
<html>
<head>
  <title id="logo">BeeMoving</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>

</head>

<body>



  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">BeeMoving</a></h1>
      </li>
    </ul>
      <% if user_signed_in? && current_user.role == "admin" %>
        <span id="mainNavLeft">
          <%= link_to "admin", users_path %>
        </span>
      <% end %>
      <%if user_signed_in? && current_user.keeper == true %>
          <span id="mainNavLeft">
              <a href="/sites">To bee sites :)</a>
          </span>
      <% end %>

      <span id="mainNavRight">
        <a href="/walks">To nature walks</a>
      </span>
      <span id="mainNavHike">
        <a href="https://blog.liftopia.com/10-essential-hiking-tips-beginner-hike/" target="_blank">Hiking Tips</a>
      </span>
      <span id="mainNavBees">
        <a href="http://www.greenpeace.org/usa/sustainable-agriculture/save-the-bees/" target="_blank">Save the Freakin bees!</a>
      </span>
      <span id="mainNavBees">
        <a id="otherClock">
        </a>
      </span>

    <span class="top-bar-section">

      <ul class="right">
        <%- if current_user -%>
          <li> <a  id="nameGreen" href="/"><%= current_user.user_name %></a></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :id => "nameGreen" %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path, :id => "nameGreen", :id => "nameGreen" %></li>
          <li><%= link_to 'Sign In', new_user_session_path, :id => "nameGreen" %></li>
        <%- end -%>
      </ul>

    </span>

  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
<script type="text/javascript">
    var newClock = setInterval(function(){ myTimer() }, 1000);
    function myTimer(){
      var d = new Date();
      var t = d.toLocaleTimeString()
      var x = document.getElementById("otherClock")
      x.innerHTML = t
    }
</script>
</html>
